
{{#each data}}
    <div>
    <p>{{ this.name }}</p>
        {{#if images.length}}
            <img src="{{ this.images.0.url }}" alt="">
        {{/if}}
    <a href="/albums/{{ id }}">View Albums</a>
    </div>
{{/each}}

